@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif ;
    background-color: #040404;
    color: #fff;
    position: relative;
    font-size: medium;
    
}
body::before {
    content: "";
    position: fixed;
    background: #040404 url("https://user-images.githubusercontent.com/66039545/155833662-d5e7121e-4ee3-40a4-aa1b-575cef5a06a1.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
    opacity: 0.1;
}


ion-icon {
    font-size: 20px;
    color: blue;
}

.twitter ion-icon, .github ion-icon, .linkedin ion-icon, .reddit ion-icon, .facebook ion-icon, .instagram ion-icon {
    font-size: 40px;
}