* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

ion-icon {
    font-size: 15px;
    color: black;
}

.twitter ion-icon, .github ion-icon, .linkedin ion-icon, .reddit ion-icon  {
    font-size: 40px;
}